body{
margin:0;
font-family:Arial;
background:#1a120b;
color:#f5deb3;
text-align:center;
}

.container{max-width:500px;margin:auto;padding:20px;}

.logo{
font-size:28px;
color:gold;
margin-bottom:20px;
}

.card{
background:#2b1d13;
padding:20px;
margin-top:20px;
border-radius:10px;
}

input{
padding:10px;
margin:6px;
border-radius:6px;
border:none;
}

button{
background:goldenrod;
border:none;
padding:12px;
margin-top:10px;
width:100%;
border-radius:6px;
cursor:pointer;
}

.hidden{display:none;}
